.md-typeset div.arithmatex {
    overflow: initial;
}

.md-typeset .admonition, .tabbed-set {
    font-size: 0.8rem;
}

details *, details.tip *, details.check * {
  font-size: 0.8rem;
}


.centrer {
    display: block;
    margin: auto;
}

embed, object {
    width: 100%;
    overflow: scroll;
}

nav.md-footer__inner {
    display:  none;
}